{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'gestion_co2/assets/js/form_co2.js' %}" defer="defer"></script>
{% endblock %}

{% block content %}
<!-- Features -->
<section id="features">
	<div class="container">
		<header>
			<h2>Emisones de CO<sub>2</sub></h2>
		</header>
		<div class="row aln-center">
			<form>
				<p>Selecciona el tipo de emisiones</p>
				<input type="button" id="mostrar_form_vehiculo" value="Trayecto en vehículo"/>
				<input type="button" id="mostrar_form_edificio" value="Consumo de edificio"/>
			</form>
		</div>
		<div class="row aln-center">
			<form id="form_vehiculo">
				{% csrf_token %}
				{% for field in form_vehiculo %}
					<b>{{ field.label }}</b>
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<input type="hidden" name="tipo_emisiones" value="vehiculo"/>
				<input type="submit" value="Enviar"/>
				<p class="message"></p>
			</form>
			<form id="form_edificio">
				{% csrf_token %}
				{% for field in form_edificio %}
					<b>{{ field.label }}</b>
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<input type="hidden" name="tipo_emisiones" value="edificio"/>
				<input type="submit" value="Enviar"/>
				<p class="message"></p>
			</form>
		</div>
	</div>
</section>
{% endblock %}