<!-- Header -->
<section id="header">
    <div class="container">

        <!-- Logo -->
            <h1 id="logo">{{ nombre_empresa }}</h1>
            <p>Sistema de gestión de CO2</p>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a class="icon solid fa-home" href="/"><span>Página principal</span></a></li>
                    {% if user.is_authenticated %}
                    <li><a class="icon solid fa-tree" href="/add/"><span>Añadir emisiones de CO<sub>2</sub></span></a></li>
                    <li>
                        <a href="#" class="icon fa-user"><span>Bienvenid@, {{ user.username }}</span></a>
                        <ul>
                            <li><a href="{{ url_mi_cuenta }}">Mi cuenta</a></li>
                            <li><a href="/logout/">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a class="icon solid fa-user" href="/login/"><span>Iniciar sesión</span></a></li>
                    {% endif %}
                </ul>
            </nav>
    </div>
</section>