{% extends "base.html" %}

{% load static %}
{% load django_altair %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm//vega@3.2"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.0"></script>
{% endblock %}

{% block content %}
<!-- Features -->
<section id="features">
	<div class="container">
		<header>
			<h2>Gráficos</h2>
		</header>
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_vehiculos %}
						</div>
						<header>
							<h3>Vehículos</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada uno de los vehiculos</p>
					</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_edificios %}
						</div>
						<header>
							<h3>Edificios</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada uno de los edificios</p>
					</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<a href="#" class="image featured"><img src="{%static 'gestion_co2/images/pic03.jpg' %}" alt="" /></a>
						<header>
							<h3>Compensado</h3>
						</header>
						<p>CO<sub>2</sub> compensado</p>
					</section>

			</div>
			<div class="col-12">
				<ul class="actions">
					<li><a href="/informe_mensual/" class="button icon solid fa-file">Ver informe mensual</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}