{% extends "base.html" %}

{% load static %}
{% load django_altair %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm//vega@3.2"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.0"></script>
{% endblock %}

{% block content %}
<!-- Features -->
<section id="features">
	<div class="container">
		<article class="box post">
			<header>
				<h2>Informe mensual</h2>
			</header>
			<p>Datos de emisiones durante el último mes</p>
		</article>
		
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_edificios %}
						</div>
						<header>
							<h3>Emisiones por tipo de instalación</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de instalación</p>
					</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_vehiculos %}
						</div>
						<header>
							<h3>Emisiones por tipo de vehículo</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de vehículo</p>
					</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_vehiculos %}
						</div>
						<header>
							<h3>Emisiones evitadas</h3>
						</header>
						<p>Emisiones de CO<sub>2</sub> evitadas por usar fuentes de energía renovables</p>
					</section>
			</div>
		</div>
	</div>
	<!-- Excerpts -->
	<section>
		<article class="box excerpt">
			<header>
				<span class="date">July 30</span>
				<h3>Just another post</h3>
			</header>
			<p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
			suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p>
		</article>
	</section>
</section>

<!-- Banner -->
<section id="banner">
	<div class="container">
		<p>{{ mensaje_banner }}</p>
	</div>
</section>

<section id="main">
	<div class="container">
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_vehiculos %}
						</div>
						<header>
							<h3>Emisiones por tipo de instalación</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de instalación</p>
					</section>
			</div>
			
			<div class="col-4 col-6-medium col-12-small">
				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_vehiculos %}
						</div>
						<header>
							<h3>Emisiones por tipo de vehículo</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de vehículo</p>
					</section>
			</div>
		</div>
	</div>
</section>
{% endblock %}