{% extends "base.html" %}

{% load static %}
{% load django_altair %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm//vega@3.2"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.0"></script>
{% endblock %}

{% block content %}
<!-- Features -->
<section id="features">
	<div class="container">
		<article class="box post">
			<header>
				<h2>Informe de emisiones</h2>
			</header>
			<p>Datos de emisiones de CO2 durante los últimos 2 años</p>
		</article>
		
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_edificios %}
						</div>
						<header>
							<h3>Emisiones por tipo de instalación</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de instalación</p>
					</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_vehiculos %}
						</div>
						<header>
							<h3>Emisiones por tipo de vehículo</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de vehículo</p>
					</section>

			</div>
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_evitadas %}
						</div>
						<header>
							<h3>Emisiones evitadas</h3>
						</header>
						<p>Emisiones de CO<sub>2</sub> evitadas por usar fuentes de energía renovables</p>
					</section>
			</div>
		</div>
	</div>
	<!-- Excerpts -->
	<section>
		<article class="box excerpt">
			<header>
				
				<h3>Programas de compensación de CO<sub>2</sub></h3>
			</header>
			<p>Esta empresa realiza donaciones a programas de compensación de CO<sub>2</sub> en función de sus emisiones</p>
		</article>
	</section>
</section>

<!-- Banner -->
<section id="banner">
	<div class="container">
		<p>kg de CO<sub>2</sub> emitidos en el último año: {{ total_kg_co2 }}</p>
	</div>
</section>

<section id="main">
	<div class="container">
		<div class="row aln-center">
			<div class="col-4 col-6-medium col-12-small">

				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart emisiones_sistemas_inteligentes %}
						</div>
						<header>
							<h3>Emisiones por sistemas inteligentes</h3>
						</header>
						<p>CO<sub>2</sub> emitido por cada tipo de sistema</p>
					</section>
			</div>

			<div class="col-4 col-6-medium col-12-small">
				<!-- Feature -->
					<section>
						<div class="image featured">
							{% render_chart grafico_comparativa %}
						</div>
						<header>
							<h3>Comparativa de años</h3>
						</header>
						<p>Comparativa de emisiones en los dos últimos años</p>
					</section>
			</div>
		</div>
	</div>
</section>
{% endblock %}