{% load static %}
<!-- Scripts -->
<script src="{% static 'gestion_co2/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'gestion_co2/assets/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'gestion_co2/assets/js/browser.min.js' %}"></script>
<script src="{% static 'gestion_co2/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'gestion_co2/assets/js/util.js' %}"></script>
<script src="{% static 'gestion_co2/assets/js/main.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm//vega@3.2"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm//vega-embed@3.0"></script>